body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    color: #666;
    font-weight: normal;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 60px; /* Prevents content from hiding under the fixed elements */
  }
  
  .item-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
  }
  
  .item-cart img {
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    flex-basis: 10%;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    flex-basis: 30%;
  }
  
  .item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .item-description {
    color: #666;
    font-size: 14px;
  }
  
  .item-price {
    color: #888;
    font-size: 16px;
    text-align: left;
    flex-basis: 20%;
  }
  
  .item-controls {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: center;
  }
  
  .item-total-price {
    color: #888;
    font-size: 16px;
    text-align: right;
    flex-basis: 20%;
  }
  
  button {
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .total-container {
    position: fixed;
    top: 20px; /* Position 20px from the top of the viewport */
    right: 20px; /* Position 20px from the right of the viewport */
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays on top of other content */
  }
  
  .total {
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #3f4246;
    margin: 0;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .item-cart {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .item-cart img {
      margin-bottom: 10px;
    }
  
    .item-info, .item-price, .item-controls, .item-total-price {
      flex-basis: 100%;
      text-align: left;
    }
  
    .item-price, .item-controls, .item-total-price {
      margin-top: 10px;
    }
  
    .item-controls {
      justify-content: flex-start;
    }
  
    .item-total-price {
      text-align: left;
      margin-top: 10px;
    }
  
    .total-container {
        justify-content: space-between;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #3f4246;
        margin: 0;
    }
  }
  